<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.0.xsd" default-lazy-init="true">
       
  <bean id="memberSummaryDaoSession" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl"
			value="rmi://localhost:10098/memberSummaryDaoSessionRmi" />
		<property name="serviceInterface"
			value="com.rareboom.member.dao.rmi.IMemberSummaryDaoSession" />
		<property name="refreshStubOnConnectFailure" value="true" />
		<property name="lookupStubOnStartup" value="false" />
	</bean>
  <bean id="memberDetailDaoSession" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl"
			value="rmi://localhost:10098/memberDetailDaoSessionRmi" />
		<property name="serviceInterface"
			value="com.rareboom.member.dao.rmi.IMemberDetailDaoSession" />
		<property name="refreshStubOnConnectFailure" value="true" />
		<property name="lookupStubOnStartup" value="false" />
	</bean>
  <bean id="memberLicenseDaoSession" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl"
			value="rmi://localhost:10098/memberLicenseDaoSessionRmi" />
		<property name="serviceInterface"
			value="com.rareboom.member.dao.rmi.IMemberLicenseDaoSession" />
		<property name="refreshStubOnConnectFailure" value="true" />
		<property name="lookupStubOnStartup" value="false" />
	</bean>
</beans>